/*
==============================================
layout: header
==============================================
*/

.app_header {
  background-color: var(--sec-color-300);
  color: var(--prim-color);
  border-bottom: 1px solid var(--sec-color-500);
}

.app_header-logo img {
  width: 70%;
  height: auto;
  margin: 0 auto;
}

.app_header a:hover,
.app_header a:focus,
.app_header a:visited {
  text-decoration: none;
}
