.mufeed_service-link {
  color: var(--sec-color-900);
  font-weight: 700;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-shadow: none;
  gap: 1.5rem;
  border: 0.15rem solid rgb(129, 129, 129);
}
.mufeed_service-link:hover {
  color: var(--prim-color);
  text-decoration: none;
  border: 0.15rem solid var(--prim-color);
}
.mufeed_service-title {
  font-size: var(--font-size-h5);
  margin: 0;
}
