.new_acc_form-section {
  background-color: var(--sec-color-300);
  padding: 0rem 0rem;
  border: var(--border-500);
  border-radius: var(--border-radius-base);
  -webkit-border-radius: var(--border-radius-base);
  -moz-border-radius: var(--border-radius-base);
  -ms-border-radius: var(--border-radius-base);
  -o-border-radius: var(--border-radius-base);
}

.new_acc_form-label {
  font-weight: var(--font-weight-700);
}

.new_acc_form-input {
  height: 100%;
  color: #000000;
  font-family: inherit;
  background-color: var(--sec-color-50);
  font-weight: var(--font-weight-600);
  border: var(--border-500);
  outline: none;
  width: 100%;
  border-radius: var(--border-radius-base);
  -webkit-border-radius: var(--border-radius-base);
  -moz-border-radius: var(--border-radius-base);
  -ms-border-radius: var(--border-radius-base);
  -o-border-radius: var(--border-radius-base);
}

.new_acc_form-action-btn {
  cursor: pointer;
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-h7);
}

#CUST_CREDIT_LIMIT_CURRENCY {
  font-size: 0.8rem;
  font-weight: 700;
}
