/*
==============================================
Utilities: container
==============================================
*/

.hide {
  display: none;
}

.underline {
  text-decoration: underline;
}

.container {
  max-width: var(--desktop-xlg-bp);
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}
