/*
==============================================
Utilities: container
==============================================
*/

._______sperator_______ {
  height: 1px;
  background-color: var(--sec-color-500) !important;
  border: none;
  margin: 0;
  outline: none;
}

.hide {
  display: none !important;
}

.radius-base {
  border-radius: var(--border-radius-base);
  -webkit-border-radius: var(--border-radius-base);
  -moz-border-radius: var(--border-radius-base);
  -ms-border-radius: var(--border-radius-base);
  -o-border-radius: var(--border-radius-base);
}

.radius-t-r {
  border-top-right-radius: var(--border-radius-base);
}
.radius-t-l {
  border-top-left-radius: var(--border-radius-base);
}
.radius-b-r {
  border-bottom-right-radius: var(--border-radius-base);
}
.radius-b-l {
  border-bottom-left-radius: var(--border-radius-base);
}

.radius-round {
  border-radius: var(--border-radius-round) !important;
  -webkit-border-radius: var(--border-radius-round) !important;
  -moz-border-radius: var(--border-radius-round) !important;
  -ms-border-radius: var(--border-radius-round) !important;
  -o-border-radius: var(--border-radius-round) !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.underline {
  text-decoration: underline;
}

.border-none {
  border: none !important;
}

.bordered {
  border: 1px solid var(--sec-color-500) !important;
}
.bordered-left {
  border: none;
  border-left: 1px solid var(--sec-color-500) !important;
}
.bordered-right {
  border: none;
  border-right: 1px solid var(--sec-color-500) !important;
}
.bordered-top {
  border: none;
  border-top: 1px solid var(--sec-color-500) !important;
}
.bordered-bottom {
  border: none;
  border-bottom: 1px solid var(--sec-color-500) !important;
}

.font-prim {
  color: var(--prim-color) !important;
}

.font-red {
  color: rgb(221, 67, 67);
}

.logo-color {
  color: #5a95b1;
}

.line-h-1 {
  line-height: 1;
}

.container {
  max-width: var(--LGdesktop);
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}
