/*
==============================================
Utilities: space helpers
==============================================
*/

/* ------------------------------------
* Width
------------------------------------ */

.width-100 {
  width: 100%;
}

.width-90 {
  width: 90%;
}

.width-80 {
  width: 80%;
}

.width-70 {
  width: 70%;
}

.width-60 {
  width: 60%;
}

.width-50 {
  width: 50%;
}

.width-40 {
  width: 40%;
}

.width-30 {
  width: 30%;
}

.width-20 {
  width: 20%;
}

.width-10 {
  width: 10%;
}

/* ------------------------------------
* Padding
------------------------------------ */

/* Main Spacers */
.p-0 {
  padding: var(--padding-0);
}
.p-0-25rem {
  padding: var(--padding-0-25rem);
}
.p-0-5rem {
  padding: var(--padding-0-5rem);
}
.p-1rem {
  padding: var(--padding-1rem);
}
.p-1-5rem {
  padding: var(--padding-1-5rem);
}
.p-2rem {
  padding: var(--padding-2rem);
}
.p-3rem {
  padding: var(--padding-3rem);
}
.p-4rem {
  padding: var(--padding-4rem);
}
.p-5rem {
  padding: var(--padding-5rem);
}

/* Vertical Spacers */
.p-t-0-25rem {
  padding-top: var(--padding-0-25rem);
}
.p-t-0-5rem {
  padding-top: var(--padding-0-5rem);
}
.p-t-1rem {
  padding-top: var(--padding-1rem);
}
.p-t-1-5rem {
  padding-top: var(--padding-1-5rem);
}
.p-t-2rem {
  padding-top: var(--padding-2rem);
}
.p-t-3rem {
  padding-top: var(--padding-3rem);
}
.p-t-4rem {
  padding-top: var(--padding-4rem);
}
.p-t-5rem {
  padding-top: var(--padding-5rem);
}

.p-b-0-25rem {
  padding-bottom: var(--padding-0-25rem);
}
.p-b-0-5rem {
  padding-bottom: var(--padding-0-5rem);
}
.p-b-1rem {
  padding-bottom: var(--padding-1rem);
}
.p-b-1-5rem {
  padding-bottom: var(--padding-1-5rem);
}
.p-b-2rem {
  padding-bottom: var(--padding-2rem);
}
.p-b-3rem {
  padding-bottom: var(--padding-3rem);
}
.p-b-4rem {
  padding-bottom: var(--padding-4rem);
}
.p-b-5rem {
  padding-bottom: var(--padding-5rem);
}

/* Horizontal Spacers */
.p-l-0-25rem {
  padding-left: var(--padding-0-25rem);
}
.p-l-0-5rem {
  padding-left: var(--padding-0-5rem);
}
.p-l-1rem {
  padding-left: var(--padding-1rem);
}
.p-l-1-5rem {
  padding-left: var(--padding-1-5rem);
}
.p-l-2rem {
  padding-left: var(--padding-2rem);
}
.p-l-3rem {
  padding-left: var(--padding-3rem);
}
.p-l-4rem {
  padding-left: var(--padding-4rem);
}
.p-l-5rem {
  padding-left: var(--padding-5rem);
}

.p-r-0-25rem {
  padding-right: var(--padding-0-25rem);
}
.p-r-0-5rem {
  padding-right: var(--padding-0-5rem);
}
.p-r-1rem {
  padding-right: var(--padding-1rem);
}
.p-r-1-5rem {
  padding-right: var(--padding-1-5rem);
}
.p-r-2rem {
  padding-right: var(--padding-2rem);
}
.p-r-3rem {
  padding-right: var(--padding-3rem);
}
.p-r-4rem {
  padding-right: var(--padding-4rem);
}
.p-r-5rem {
  padding-right: var(--padding-5rem);
}

/* ------------------------------------
* Margins
------------------------------------ */

.m-0 {
  margin: var(--margin-0);
}
.m-0-25rem {
  margin: var(--margin-0-25rem);
}
.m-0-5rem {
  margin: var(--margin-0-5rem);
}
.m-1rem {
  margin: var(--margin-1rem);
}
.m-1-5rem {
  margin: var(--margin-1-5rem);
}
.m-2rem {
  margin: var(--margin-2rem);
}
.m-3rem {
  margin: var(--margin-3rem);
}
.m-4rem {
  margin: var(--margin-4rem);
}
.m-5rem {
  margin: var(--margin-5rem);
}

/* Vertical Spacers */
.m-t-0-25rem {
  margin-top: var(--margin-0-25rem);
}
.m-t-0-5rem {
  margin-top: var(--margin-0-5rem);
}
.m-t-1rem {
  margin-top: var(--margin-1rem);
}
.m-t-1-5rem {
  margin-top: var(--margin-1-5rem);
}
.m-t-2rem {
  margin-top: var(--margin-2rem);
}
.m-t-3rem {
  margin-top: var(--margin-3rem);
}
.m-t-4rem {
  margin-top: var(--margin-4rem);
}
.m-t-5rem {
  margin-top: var(--margin-5rem);
}

.m-b-0-25rem {
  margin-bottom: var(--margin-0-25rem);
}
.m-b-0-5rem {
  margin-bottom: var(--margin-0-5rem);
}
.m-b-1rem {
  margin-bottom: var(--margin-1rem);
}
.m-b-1-5rem {
  margin-bottom: var(--margin-1-5rem);
}
.m-b-2rem {
  margin-bottom: var(--margin-2rem);
}
.m-b-3rem {
  margin-bottom: var(--margin-3rem);
}
.m-b-4rem {
  margin-bottom: var(--margin-4rem);
}
.m-b-5rem {
  margin-bottom: var(--margin-5rem);
}

/* Horizontal Spacers */
.m-l-0-25rem {
  margin-left: var(--margin-0-25rem);
}
.m-l-0-5rem {
  margin-left: var(--margin-0-5rem);
}
.m-l-1rem {
  margin-left: var(--margin-1rem);
}
.m-l-1-5rem {
  margin-left: var(--margin-1-5rem);
}
.m-l-2rem {
  margin-left: var(--margin-2rem);
}
.m-l-3rem {
  margin-left: var(--margin-3rem);
}
.m-l-4rem {
  margin-left: var(--margin-4rem);
}
.m-l-5rem {
  margin-left: var(--margin-5rem);
}

.m-r-0-25rem {
  margin-right: var(--margin-0-25rem);
}
.m-r-0-5rem {
  margin-right: var(--margin-0-5rem);
}
.m-r-1rem {
  margin-right: var(--margin-1rem);
}
.m-r-1-5rem {
  margin-right: var(--margin-1-5rem);
}
.m-r-2rem {
  margin-right: var(--margin-2rem);
}
.m-r-3rem {
  margin-right: var(--margin-3rem);
}
.m-r-4rem {
  margin-right: var(--margin-4rem);
}
.m-r-5rem {
  margin-right: var(--margin-5rem);
}
