/*
==============================================
Custom reset styles
==============================================
*/

@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap");

:root {
  --font-family-base: "Cairo", sans-serif;
  --font-family-brand: "Reem Kufi", sans-serif;
}

/* html */
html {
  font-size: var(--font-size-base);
}

/* body */
body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--black);
  font-weight: var(--font-weight-500);
  background: var(--sec-color-200);
}
