/*
==============================================
Custom reset styles
==============================================
*/

@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

:root {
  --font-family-base: "Cairo", sans-serif;
}

/* html */
html {
  font-size: var(--font-size-base);
}

/* body */
body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--black);
  font-weight: 700;
  background: var(--sec-color-200);
}

button:focus-visible,
select:focus-visible,
a:focus-visible,
input:focus-visible {
  transition: none;
  outline-offset: -0.5rem;
  outline: dashed 1px rgba(0, 0, 0, 0.5);
}
