/*
==============================================
component: Buttons
==============================================
*/

.clickable {
  cursor: pointer;
}

.btn-reset {
  border: none;
  display: block;
  background-color: inherit;
  border-radius: var(--border-radius-base);
  -webkit-border-radius: var(--border-radius-base);
  -moz-border-radius: var(--border-radius-base);
  -ms-border-radius: var(--border-radius-base);
  -o-border-radius: var(--border-radius-base);
}

.prim-btn {
  font-size: var(--font-size-h5);
  padding: 1rem 1.8rem;
  background-color: var(--prim-color);
  color: var(--sec-color-50);
}

.sec-btn {
  font-size: var(--font-size-h5);
  padding: 1rem 1.8rem;
  background-color: var(--sec-color-400);
  color: var(--sec-color-900);
}
