/*
==============================================
component: Buttons
==============================================
*/

.clickable {
  cursor: pointer;
}

.btn-reset {
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  border: none;
}

.prim-btn {
  font-size: inherit;
  background-color: var(--prim-color);
  color: var(--sec-color-200);
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.prim-btn:hover {
  color: var(--sec-color-50);
  text-decoration: none;
  opacity: 0.95;
}

.sec-btn {
  font-size: var(--font-size-h5);
  padding: 1rem 1.8rem;
  background-color: var(--sec-color-400);
  color: var(--sec-color-900);
}
