/*
==============================================
component: cards
==============================================
*/

/* card */
.card {
  display: block;
  box-shadow: var(--box-shadow-base);
  overflow: hidden;
  background-color: var(--white);
  border-radius: var(--border-radius-base);
  -webkit-border-radius: var(--border-radius-base);
  -moz-border-radius: var(--border-radius-base);
  -ms-border-radius: var(--border-radius-base);
  -o-border-radius: var(--border-radius-base);
  transition: var(--transition-base);
  -webkit-transition: var(--transition-base);
  -moz-transition: var(--transition-base);
  -ms-transition: var(--transition-base);
  -o-transition: var(--transition-base);
}

.card:hover {
  box-shadow: var(--box-shadow-alt);
}
