.loading_window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
  height: 280px;
  background-color: #fff;
  border-radius: var(--border-radius-base);
  -webkit-border-radius: var(--border-radius-base);
  -moz-border-radius: var(--border-radius-base);
  -ms-border-radius: var(--border-radius-base);
  -o-border-radius: var(--border-radius-base);
  z-index: 2;
}

.loading_window_layout {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
