.PAGE_IMAGE {
  margin-bottom: 0.5rem;
  width: 8%;
}

.PAGE_ICON {
  font-size: calc(var(--font-size-h1) + 1rem);
  color: var(--prim-color);
}

.PAGE_TITLE {
  color: var(--sec-color-900);
  font-size: var(--font-size-h6);
}
