/*
==============================================
 Colors - for global use among css files
==============================================
*/

:root {
  /* Primary Colors Variables */
  --prim-color: hsl(205, 32%, 40%);

  /* Secondary Colors Variables */
  --sec-color-50: hsl(0, 0%, 98%);
  --sec-color-100: hsl(0, 0%, 96%);
  --sec-color-200: hsl(0, 0%, 93%);
  --sec-color-300: hsl(0, 0%, 88%);
  --sec-color-400: hsl(0, 0%, 74%);
  --sec-color-500: hsl(0, 0%, 62%);
  --sec-color-600: hsl(0, 0%, 46%);
  --sec-color-700: hsl(0, 0%, 38%);
  --sec-color-800: hsl(0, 0%, 26%);
  --sec-color-900: hsl(0, 0%, 13%);

  /* Other Colors */
  --white: #fff;
  --black: var(--sec-color-900);
}
