/*
==============================================
Spacers - for global use among css files
==============================================
*/

:root {
  /* Padding Variables */
  --padding-5rem: 5rem;
  --padding-4rem: 4rem;
  --padding-3rem: 3rem;
  --padding-2rem: 2rem;
  --padding-1-5rem: 1.5rem;
  --padding-1rem: 1rem;
  --padding-0-5rem: 0.5rem;
  --padding-0-25rem: 0.25rem;
  --padding-0: 0;
}
